@{
Html.RenderPartial("../Shared/_Header.cshtml");
}
<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <partial name="../Shared/_Navigation.cshtml" />
        </div>
        <div class="col-9">
            <div class="row text-white bg-dark email-list">
                <div class="col-3">
                    Người gửi
                </div>
                <div class="col-3">
                    Tiêu đề
                </div>
                <div class="col-6">
                    Nội dung
                </div>
            </div>
            @foreach(var item in ViewBag.listInbox)
            {
            @if(item.StatusMessage == 0)
            {
            <div class="row email-list">
                <div class="col-3  text-truncate"
                    onclick="window.location.href='/Message/UpdateStatusMessage?messageID=@item.MessageID'">
                    <b>@item.Message.Sender.FullName</b>
                </div>
                <div class="col-3  text-truncate"
                    onclick="window.location.href='/Message/UpdateStatusMessage?messageID=@item.MessageID'">
                    <b> @item.Message.Title</b>
                </div>
                <div class="col-5  text-truncate"
                    onclick="window.location.href='/Message/UpdateStatusMessage?messageID=@item.MessageID'">
                    <b> @item.Message.Content</b>
                </div>
                <div class="col-1">
                    <button class="bin"
                        onclick="window.location.href='/Message/DeleteMessageInbox?MessageID=@item.MessageID'">
                        <img src="~/rubbish-bin-delete-button.png" alt="bin" width="16px" height="16px">
                    </button>
                </div>
            </div>
            }
            @if(item.StatusMessage == 1)
            {
            <div class="row email-list" style="background-color: whitesmoke">
                <div class="col-3  text-truncate"
                    onclick="window.location.href='/Message/UpdateStatusMessage?messageID=@item.MessageID'">
                    @item.Message.Sender.FullName
                </div>
                <div class="col-3  text-truncate"
                    onclick="window.location.href='/Message/UpdateStatusMessage?messageID=@item.MessageID'">
                    @item.Message.Title
                </div>
                <div class="col-5  text-truncate"
                    onclick="window.location.href='/Message/UpdateStatusMessage?messageID=@item.MessageID'">
                    @item.Message.Content
                </div>
                <div class="col-1">
                    <button class="bin"
                        onclick="window.location.href='/Message/DeleteMessageInbox?MessageID=@item.MessageID'">
                        <img src="~/rubbish-bin-delete-button.png" alt="bin" width="16px" height="16px">
                    </button>
                </div>
            </div>
            }
            }
        </div>
    </div>
</div>